
*.csharp linguist-detectable=False
*.java linguist-detectable=False  
*.js linguist-detectable=False  
*.html linguist-detectable=False  
*.xml linguist-detectable=False    
*.python3 linguist-detectable=True    
