{% extends 'base.html' %}
{% block header %}fixed-top header-inner-pages{% endblock %}
{% block title%}Blog Posts{% endblock %}
{% block menu %}{% endblock %}
{% load static %}

    {% block content %}
      <main id="main">

      <!-- ======= Breadcrumbs ======= -->
      <section id="breadcrumbs" class="breadcrumbs">
        <div class="container">
          <ol style="padding-top: 9px;"></ol>
          
          <h2>Blog Posts</h2>
          
        </div>
        
      </section><!-- End Breadcrumbs -->
      
      <!-- ======= Portfolio Details Section ======= -->
      <section id="portfolio-details" class="portfolio-details">
        <div class="container">
          
          <div class="row gy-4">
            
            <div class="col-lg-8 border ">
              <div >
                <div >
                  <!-- align-items-center -->
                  {% csrf_token %}
                  
                  <h2>{{post.title}}</h2> <br>
                  {% if post.header_image %}
                    <image src= "{{ post.header_image.url }}" style="width: 31vw;"></image>
                  {% endif %}
                  <br><br>
                  <p>{{post.body| safe}}</p>
                  <div class="backAndEdit remove">
                    <button class="btn btn-primary">
                      
                      <a href="{% url 'bList' %}">Back <i class="bi bi-arrow-left-square"></i></a>
                    </button>
                    
                    <form action="{% url 'blog_likes' post.pk %}" method="post">
                      {% csrf_token %}

                        {% if user.is_authenticated %}
                          {% if liked %}

                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-danger">
                              
                              <a href=""><i class="bi bi-hand-thumbs-down"></i> {{total_likes}}</a>
                            </button>
                          {% else %}
                            <button type="submit" name="post_id" value="{{post.id}}" class="btn btn-primary">
                              
                              <a href=""><i class="bi bi-hand-thumbs-up"></i> {{total_likes}}</a>
                            </button>
                          {% endif %}
                        {% endif %}
                    </form>
                    <button class="btn btn-primary">
                    
                      <a href="{% url 'bUpdate' post.pk %}">Share <i class="bi bi-share"></i></a>
                    </button>
                    
                    {% if user.is_authenticated %}
                      <button class="btn btn-primary">
                        
                        <a href="{% url 'bUpdate' post.pk %}">Edit <i class="bi bi-pencil-square"></i></a>
                      </button>
                      
                      <button class="btn btn-danger">
                        
                          <a class="remove" href="{% url 'Dposts' post.pk %}">Remove <i class="bi bi-trash"></i></a>
                        </button>
                    {% endif %}
                  </div>
                  
                  <!-- <div class="swiper-slide">
                    <img src="{% static 'assets/img/portfolio/portfolio-1.jpg' %}" alt="">
                  </div>

                  <div class="swiper-slide">
                    <img src="{% static 'assets/img/portfolio/portfolio-2.jpg' %}" alt="">
                  </div>

                  <div class="swiper-slide">
                    <img src="{% static 'assets/img/portfolio/portfolio-3.jpg' %}" alt="">
                  </div> -->
                  
                </div>                
                <div class="swiper-pagination"></div>
              </div>
            </div>
            
            
            <div class="col-lg-4">
              <div class="portfolio-info">
                <h3>Posts Details</h3>
                <h6>Author: </h6>
                <p>{{post.author.first_name}}&nbsp;{{post.author.last_name}}</p>
                <!-- <h6>Author2: {{user.firstname}}</h6> -->
                <h6>Date: </h6>
                <p>{{post.created_at}}</p>
                <h6>category: </h6>
                <p>{{post.category}}</p>
                
              </div>
              <br>
              <div class="portfolio-info">
                <h3>Comments</h3>
                
                <ul>
                  <li><h4><strong>hearder</strong></h4> xd-y ago</li>
                  <li><strong>Client</strong>: ASU Company</li>
                  <li><strong>Project date</strong>: 01 March, 2020</li>
                  <li><strong>Project URL</strong>: <a href="#">www.example.com</a></li>
                </ul>
                <button class="btn btn-primary"><i class="bi bi-arrow-left-circle"></i></button>
                <button class="btn btn-primary"><i class="bi bi-arrow-right-circle"></i></button>
              </div>
              <br>
              <!-- ======= Star Reting Section ======= -->
              <div class="portfolio-info">
                <h3>Ratings</h3>
                
                <ul id="skills" class="Ratings skills">
                  <section  >
                    <div class="container" data-aos="fade-up">   
              
                          <div class="skills-content">
              
                            <div class="progress">
                              <ul class="port-info ">

                                <li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                              </li>
                              </ul>
                              <!-- <span class="skill">HTML <i class="val">100%</i></span> -->
                              <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
              
                            <div class="progress">
                              <ul class="port-info ">

                                <li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star"></i></a></li>
                              </li>
                              </ul>
                              <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
              
                            <div class="progress">
                              <ul class="port-info ">

                                <li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star"></i></a></li>
                                <li><i class="bi bi-star"></i></a></li>
                              </li>
                              </ul>
                              <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
              
                            <div class="progress">
                              <ul class="port-info ">

                                <li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star"></i></a></li>
                                <li><i class="bi bi-star"></i></a></li>
                              </li>
                              </ul>
                              <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
                            <div class="progress">
                              <ul class="port-info ">

                                <li>
                                <li><i class="bi bi-star-fill"></i></li>
                                <li><i class="bi bi-star"></i></a></li>
                                <li><i class="bi bi-star"></i></a></li>
                                <li><i class="bi bi-star"></i></a></li>
                                <li><i class="bi bi-star"></i></a></li>
                              </li>
                              </ul>
                              <div class="progress-bar-wrap">
                                <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                            </div>
              
                          </div>
              
                    </div>
                  </section><!-- End Skills Section -->
                  <!-- <li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-fill"></i></li>
                    <li><i class="bi bi-star-half"></i></li>
                    <li><i class="bi bi-star"></i></a></li>
                  </li> -->
                </ul>
              </div>
              <div class="portfolio-description">
                
              </div>
            </div>

          </div>

        </div>
      </section><!-- End Portfolio Details Section -->

    </main><!-- End #main -->


    {% endblock %}